#root {
  max-width: 1280px;
  margin: auto;
  text-align: center;
  padding: 0 1rem;
  border: 4px solid var(--medium-blue);
}

header {
  background-color: var(--light-blue);
  height: var(--header-height);
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-top: 1rem;
  justify-content: space-between;
  position: sticky;
  top: 0;
  will-change: transform;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "WorkSans Bold", system-ui, Avenir, Helvetica, Arial, sans-serif;
}


h1 {
  font-size: 3.2em;
  line-height: 1.1;
}


main {

  margin: auto;
  position: relative;
}


footer {
  position: sticky;
  bottom: 0;
  background-color: var(--light-blue);
}

.logo {
  width: 75vw;
  min-width: 250px;
  max-width: 100%;
}
